body{
	background-color:lemonchiffon;
	border:20px groove slateblue;
	margin:10px;
	height:1750px;
}
*{
	text-align:center;
}
.left{
	float:left;
}
.log{
	width:60%;
	border:10px ridge hotpink;
	margin:2% 1% 1% 2%;
	border-radius:15px;
	height:500px;
	background: hsla(177, 87%, 79%, 1);

background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 50%);

background: -moz-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1 );
}
.to_do{
	width:30%;
	height:500px;
	float:right;
	border:5px dotted black;	
	border-radius:15px;
	margin:2% 2% 2% 0%;
	background: hsla(33, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}
.highlight{
	width:30%;
	height:310px;
	border:5px dashed green;
	border-radius:10px;
	margin:2% 1% 1% 1%;
	background: hsla(33, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 );
}
.achivement{
	width:20%;
	height:300px;
	border:10px outset blue;
	border-radius:10px;
	margin:2% 1% 1% 1%;
	background: hsla(175, 79%, 63%, 1);

background: linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57EBDE", endColorstr="#AEFB2A", GradientType=1 );
}
.mood{
	width:15%;
	height:300px;
	border:10px double purple;
	border-radius:5px;
	margin:2% 1% 1% 1%;
	background-color:plum;
}
.doodle{
	width:20%;
	height:300px;
	border:10px inset grey;
	border-radius:5px;
	margin:2% 1% 1% 1%;
	background: hsla(186, 33%, 94%, 1);

	background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

	background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

	background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size:50px;
}
.dynalight-regular {
  font-family: "Dynalight", cursive;
  font-weight: 500;
  font-style: normal;
  font-size:30px;
}
.design{
	display:block;
	margin:0% 40% 1% 38%;
}
.img1{
	opacity:50%;
	margin-top:30%;
}
.thoughts{
	width:55%;
	height:300px;
	border:10px double purple;
	border-radius:5px;
	margin:4% 1% 1% 1%;
	background-color:plum;
	float:right;
}
.img2{
	margin:1.3% 0 0 15%;
}
.img3{
	margin-top:1%;
}
.border{
	display:block;
}
.pattern{
	float:right;
	margin:6% 10% 0 2%;
}